* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
}

.form-box {
  padding: 20px;
  margin-left: 27%;
  width: 45%;
  background-size: 100px 100px;
}

.main-text {
  margin-bottom: 3%;
  margin-left: 27.1%;
}

button {
  cursor: pointer;
}

.rank-box {
  margin-left: 34.5%;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
